@import "./bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    line-height: 1.3;
}

.ion {
    fill: currentColor;
    color: $primary;

    &:hover {
        color: darken($primary, 10%);
    }
}