@import "./bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .10s;
    will-change: opacity;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.popper {
    background-color: #ffffff !important;
    max-width: 300px !important;
    box-shadow: none !important;
}